# File patterns to exclude from version control.

# Hidden files.
_*

# Cargo generated artifacts.
target/
Cargo.lock

# Visual Studio Code configuration files, except tasks and code snippets.
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/*.code-snippets
